/*about us page*/
.hero {
    grid-row: 2/3;
    grid-column: 2/3;
    position: relative;

}

.hero h1 {
    width: 100%;
    position: absolute;
    top: 0%;
    border-radius: 15px;
    z-index: 1;
    font-family: var(--heading-font);
}

.hero article {
    float: right;
    position: absolute;
    bottom: 0%;
}

.hero-img {
    border-radius: 15px;
    width: 1024px;
    height: 529px;
    background-color: var(--accent2-color);
}

.hero-img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.7;
}

.about-us {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.hero article img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    float: right;
}

.history {
    grid-row: 3/4;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 2px 340px 340px 340px 2px;
    justify-items: center;
}

.history h2 {
    grid-row: 1/2;
    grid-column: span 5;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 5px;
}

.history p {
    margin: 25px;
    padding: 25px;
}

.p1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.history img {
    grid-row: 2/3;
    grid-column: 3/4;
    height: 300px;
}

.p2 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.adventure {
    grid-row: 4/5;
    grid-column: span 7;
    display: grid;
    grid-template-columns: 2px 204px 204px 204px 204px 204px 2px;
    justify-items: center;
}

.adventure h2 {
    grid-row: 1/2;
    grid-column: span 7;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 5px;
}

.adventure img {
    width: 150px;
    height: auto;
}

.picture1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.picture2 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.picture3 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.picture4 {
    grid-row: 2/3;
    grid-column: 5/6;
}

.picture5 {
    grid-row: 2/3;
    grid-column: 6/7;
}

/*end of about us page*/