:root {
    --primary-color: #69c1ec;
    /*water blue*/
    --secondary-color: #dd3630;
    /*off white */
    --accent1-color: #ffffff;
    /*paddle red*/
    --accent2-color: #000000;
    /*dark gray*/
    --heading-font: Calibri, Arial, sans-serif;
    --body-font: Calibri, Arial, sans-serif;
}

/* headder */
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: auto;
    padding-left: 25px;
}

.navigaton {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

li {
    display: inline-block;
    margin-right: 15px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: lightgray;
    box-shadow: #000000 5px 5px 5px;
    color: black;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, .1);
}

html,
main {
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(0deg, rgba(105, 193, 236, 0), rgba(105, 193, 236, 1));
}

.company-name {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    grid-row: 1/2;
    grid-column: span 3;
    width: 100%;
    top: 50%;
    text-align: center;
}

/* Index - Main Home Page */
.container {
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 1024px;
    height: 529px;
    overflow: hidden;
    border-radius: 15px;
    background-color: black;
}

.section-background img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.7;
    z-index: 1;
}

.slanted-overlay {
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    background: var(--primary-color);
    transition: height 0.3s ease-in-out;
    transform-origin: top;
    transform: skewX(-20deg);
    z-index: 9;
}

.overlay1 {
    left: -10%;
}

.overlay2 {
    left: 19%;
}

.overlay3 {
    left: 48%;
}

.overlay4 {
    left: 77%;
}

.overlay5 {
    left: 105%;
}

@keyframes height {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }

}

.container:hover .overlay1 {
    animation: height 0.5s ease-in-out forwards;
}

.container:hover .overlay2 {
    animation: height 0.5s 0.10s ease-in-out forwards;
}

.container:hover .overlay3 {
    animation: height 0.5s 0.18s ease-in-out forwards;
}

.container:hover .overlay4 {
    animation: height 0.5s 0.26s ease-in-out forwards;
}

.container:hover .overlay5 {
    animation: height 0.5s 0.34s ease-in-out forwards;
}

.trip-page {
    background-color: lightgrey;
    width: 80%;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bolder;
    color: var(--accent2-color);
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.5);
    transition: opacity 0.2s ease-in-out;
    z-index: 8;
}

.trip-link {
    text-decoration: none;
}

.trip-link:link {
    color: var(--accent2-color);
}

.trip-link:visited {
    color: var(--accent2-color);
}

.trip-link:hover {
    color: var(--accent2-color);
}

.trip-link:active {
    color: var(--accent2-color);
}

.center-text {
    width: 80%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--accent2-color);
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.5);
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.container:hover .center-text {
    opacity: 0;
}

.company-tagline {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    grid-row: 3/4;
    grid-column: span 3;
    width: 100%;
    text-align: center;
}

.image-grid {
    grid-row: 5/6;
    grid-column: span 3;
    display: grid;
    justify-items: center;
}

.image-window1 {
    grid-row: 1;
    grid-row: span 2;
    grid-column: 1/2;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

.image-track1 {
    display: flex;
    width: 500%;
    animation: slideImages 20s infinite ease-in-out;
}

.image-track1 img {
    width: 20%;
    height: 400px;
    object-fit: cover;
}

@keyframes slideImages {

    0%,
    20% {
        transform: translateX(0);
        /*image 1*/
    }

    25%,
    45% {
        transform: translateX(-20%);
        /*image 2*/
    }

    50%,
    70% {
        transform: translateX(-40%);
        /*image 3*/
    }

    75%,
    95% {
        transform: translateX(-60%);
        /*image 4*/
    }

    100% {
        transform: translateX(-80%);
        /* smooth loop transition*/
    }
}

.image-window2 {
    grid-row: 1;
    grid-row: span 2;
    grid-column: 3/4;
    width: 100%;
    height: 400px;
    max-width: 600px;
    overflow: hidden;
}

.image-track2 {
    display: flex;
    width: 500%;
    animation: slideImages 20s infinite ease-in-out;
}

.image-track2 img {
    width: 20%;
    height: 400px;
    object-fit: cover;
}

@keyframes slideImages {

    0%,
    20% {
        transform: translateX(0);
        /*image 1*/
    }

    25%,
    45% {
        transform: translateX(-20%);
        /*image 2*/
    }

    50%,
    70% {
        transform: translateX(-40%);
        /*image 3*/
    }

    75%,
    95% {
        transform: translateX(-60%);
        /*image 4*/
    }

    100% {
        transform: translateX(-80%);
        /* smooth loop transition*/
    }
}

.image-txt {
    grid-row: 1;
    grid-column: 2/3;
    width: 400px;
    padding: 10px;
    overflow-wrap: normal;
}

.newsletter {
    grid-column: 2/3;
    grid-row: 2;
    background-color: lightgrey;
    width: 400px;
    justify-items: center;
    border-radius: 15px;
}

.news-head {
    background-color: var(--primary-color);
    text-align: center;
}

/* end of index page*/
/*about us page*/

.hero {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 1024px;
    height: 529px;
    border-radius: 15px;
    background-color: black;
}

.hero-img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.7;
    z-index: 1;
}

.about-us {
    position: absolute;
    width: 1024px;
    height: 150px;
    bottom: 20%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;

}

.about-us img {
    width: 150px;
    height: auto;
    border-radius: 15px;

}

.history {
    grid-row: 3/4;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.history h2 {
    grid-row: 1/2;
    grid-column: span 3;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 5px;
}

.history p {
    margin: 25px;
    padding: 25px;
}

.history img {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 300px;
}

.adventure {
    grid-row: 4/5;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.adventure h2 {
    grid-row: 1/2;
    grid-column: span 5;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 5px;
}

.adventure img {
    width: 150px;
    height: auto;
}

/*enf of about us page*/

/* footer */
footer {
    grid-row: 5/6;
    display: grid;
}

.socials p {
    grid-row: 1;
    grid-column: 1/2;
}

.socialmedia {
    justify-self: right;
    grid-row: 1;
    grid: 3/4;
}

.face {
    width: 50px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.link {
    width: 50px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.insta {
    width: 50px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}